{% extends 'base.html.twig' %}

{% block title %}List all active jobs{% endblock %}

{% block heading %}
    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">List all active jobs
                    <small>(current month)</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ url('homepage') }}">Home</a></li>
                    <li class="active">Jobs</li>
                </ol>
            </div>
        </div>
{% endblock %}

{% block body %}
    {% include "job/_index_body.html.twig" %}
{% endblock %}
